@charset "utf-8";
*{
	padding: 0; margin: 0; text-decoration: none; color: #000;
}
.container{
	width: 1190px; margin: 0 auto;
}
.container-fluid{
	min-width: 1190px;
}
.whale-box{
	height: 49px;
	background: #d4f8ff;
}
.search-box{
	height: 160px;
	background: rgb(255, 255, 255);
}
.menu-box{
	height: 52px;
	background: #0f0;
}
.contents-box{
	min-height:1000px;
	background: blue;
}
.footer-box{
	height: 423px;
	background: rgb(255, 0, 255);
}