@charset "utf-8";

.search-box .logo{
	width: 222px; height: 52px; float: left; 
	margin-top: 54px; overflow: hidden;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	background-position: 0 -158px;
}

.search-box .search{
	width: 586px; height: 56px; float: left; 
	margin-left: calc(264px - 252px); margin-top: 56px; 
	box-sizing: border-box; border: 2px solid rgb(0, 231, 0);
	
}
.search-insearch{
	width: 474px; height: 52px; box-sizing: border-box;
	border: 2px solid black; top: 0;
}
.search-input{
	width: 444px; height: 52px; font-size: 20px; position:absolute;
}
input[type=text]{
	border: 2px solid black; background: rgb(255, 255, 255);
}
input[type=text]:focus{
	outline: none;
}



.search-button{
	width: 56px; height: 56px; background: blue;
	float: right;
}
