@charset "utf-8";
			
.menu{ width: 100px; height: 150; float: left;}
		.menu_item{
		height: 50px; box-sizing: border-box; overflow: hidden;
		border: 1px solid red; border-bottom: none;
		}
		.menu_item:last-child{
			border-bottom: 1px solid red;
		}
		.box{width: calc(100% - 100px - 10px); height: 500px; box-sizing: border-box; 
			border: 1px solid blue; float: right; 
	}
